.calendar-tab {
  background-color: #2E2972;
}

.calendar-tab__container {
  display: flex;
  max-width: 1282px;
  height: 50px;
  margin: 0 auto;
}

.calendar-tab__calendar {
  display: grid;
  grid-template-columns: repeat(24, 38px);
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
}

.calendar-tab__left-arrow {
  justify-self: center;
  width: 7px;
  height: 12px;
  background-image: url('/src/assets/left-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.calendar-tab__right-arrow {
  justify-self: center;
  width: 7px;
  height: 12px;
  background-image: url('/src/assets/right-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.calendar-tab__month-of-year {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 3px;
  background-color: #100D46;
}

.calendar-tab__month {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
}

.calendar-tab__year {
  color: #fff;
  font-size: 10px;
}

.calendar-tab__day-of-month {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 3px;
}

.calendar-tab__day {
  font-size: 13px;
}

.calendar-tab__day-of-week {
  font-size: 10px;
  text-transform: uppercase;
}

.calendar-tab__day-of-month:hover {
  background-color: rgba(255, 255, 255, .7);
  color: #2E2972;
  cursor: pointer;
}

.calendar-tab__day-of-month_is-favorit {
 position: relative; 
}

.calendar-tab__day-of-month_is-favorit::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #F8A62B;
  transform: translateX(-50%);
}

.calendar-tab__search {
  padding-left: 18px;
  padding-right: 18px;
  flex: 1;
  background-color: #100D46;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-tab__search-icon {
  width: 24px;
  height: 24px;
  background-image: url('/src/assets/search-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.calendar-tab__search-input {
  flex: 1;
  background-color: transparent;
  border: transparent 0px solid;
  font-size: 12px;
  color: #fff;
  outline: none;
}

.calendar-tab__search-input::placeholder {
  font-size: 12px;
  color: #fff;
  opacity: .7;
}

@media (max-width: 749px) {
  .calendar-tab__left-arrow,
  .calendar-tab__right-arrow,
  .calendar-tab__search {
    display: none;
  }
}

@media (min-width: 750px) and (max-width: 1023px) {

}

@media (min-width: 1024px) {
}