.header {
  background-color: #262261;
}

.header__container {
  display: flex;
  align-items: center;
  max-width: 1282px;
  height: 68px;
  margin: 0 auto;
}

.header__logo {
  width: 120px;
  height: 42px;
  background-image: url('/src/assets/sharqiya-logo.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.header__left-bar {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}

.header__burger-menu-button {
  width: 24px;
  height: 24px;
  background-image: url('/src/assets/burger-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.header__date {
  text-transform: capitalize;
  color: #fff;
  font-size: 12px;
  margin-left: 22px;
}

.header__browse-event {
  text-transform: capitalize;
  color: #fff;
  font-size: 12px;
  margin-left: 30px;
}

.header__location {
  text-transform: capitalize;
  color: #fff;
  font-size: 12px;
  margin-left: 26px;
  border-bottom: solid 1px #707070;
}

.header__right-bar {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.header__login {
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  margin-right: 28px;
  text-decoration: none;
}

.header__add-event {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 36px;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  background-color: #F8A62B;
  border: solid 1px #95989A;
  border-radius: 5px;
  margin-right: 28px;
}

.header__language {
  font-family: 'Adelle Sans ARA', sans-serif;
  text-transform: capitalize;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

@media (max-width: 749px) {
  .header_is-hidden {
    display: none;
  }

  .header__container {
    display: flex;
    align-items: center;
    height: 68px;
    margin: 0 auto;
    padding: 14px;
    box-sizing: border-box;
  }

  .header__date {
    display: none;
  }

  .header__browse-event {
    display: none;
  }

  .header__location {
    display: none;
  }

  .header__login {
    display: none;
  }

  .header__add-event {
    display: none;
  }

  .header__language {
    display: none;
  }

  .header__location-icon {
    width: 13px;
    height: 19px;
    background-image: url('/src/assets/location-icon-mobile.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
  }

  .header__search-icon {
    width: 20px;
    height: 20px;
    background-image: url('/src/assets/search-icon-mobile.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: 750px) and (max-width: 1023px) {
  .header__container {
    padding: 14px;
    box-sizing: border-box;
  }
  
  .header__location-icon {
    display: none;
  }

  .header__search-icon {
    display: none;
  }
}

@media (min-width: 1024px) {
  .header__location-icon {
    display: none;
  }

  .header__search-icon {
    display: none;
  }
}