.related-events {
  height: 475px;
  background-color: #F0F0F0;
  border-top: #E6E6E6 5px solid;
}

.related-events__container {
  height: 475px;
  width: 100%;
  max-width: 1282px;
  margin: 0 auto;
  background-color: #F0F0F0;
}

.related-event__title {
  font-size: 22px;
  font-weight: bold;
}

.related-event__events {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
}