.sub-header {
  display: flex;
  align-items: center;
  height: 50px;
  max-width: 1282px;
  /* border-bottom: 1px solid rgba(230, 230, 230, .4); */
  margin: 0 auto;
}

.sub-header__back-button {
  width: 44px;
  height: 14px;
  background-image: url('/src/assets/back-button.png');
  background-repeat: no-repeat;
  background-position: center;
}